<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="">
    <title>React Webpack Boilerplate</title>
    <link href="/assets/main.css" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <p>
        Javascript is currently disabled. Please <a class="txt txt_linkPlain" href="http://www.google.com/support/bin/answer.py?answer=23852" target="_blank">enable javascript</a> for an optimal experience.
      </p>
    </noscript>
    <div id="app"></div>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
